{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
  </head>
  <body>
    {% block content %}{% endblock %}
      <h1 style="margin-bottom:200px">Parametric Recipe Finder</h1>
      </div>
      <div style="max-width: 600px;margin: auto;">
          {% if msg %}
            <h4 style="max-width: 330px;margin: auto;margin-bottom:20px">{{ msg }}</h4>
          {% endif %}

          <form action="home" method="POST" >
            <h2 style="margin-top:50px;margin-left:210px;">Login</h2>
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="Username" required/>
            <br>
            <input type="password" name="password" id="password" placeholder="Password" required/>
            <br>
            <br>
            <input style="width:303px;margin-top:10px;cursor:pointer" type="submit" class="button" value="submit"/>
          </form>
      </div>

    <div style="max-width: 380px;margin: auto;"><h4>Don't have a account? <a href="register">Register Here</a></h4></div>
    <div style="max-width: 290px;margin: auto;"><h4>For Admin - <a href="admin">Click Here</a></h4></div>
     <div id="loading">
          <img id="loading-image" style="border: none;" src={% static 'loader.gif' %} alt="I am hungry..." />
    </div>

    <script src="{%static 'jquery-3.3.1.min.js'%}"></script>
      <script src="{%static 'script.js'%}"></script>
      <script>
          $(window).on('load', function () {
            $('#loading').hide();
          }) 
        </script> 
        
</body>
  </body>
</html>